.container {
	margin: 0 auto;
	background-color: #bbbbbb;
	width: 90%;
	min-height: 400px;
	color: white;
	text-align: center;
	display: flex;
	flex-direction: row;
}
.one {
	background-color: green;
	margin: 25px;
	width: 150px;
	height: 150px;
}
.one h1 {
	padding-top: 35px;
}
.two {
	background-color: gold;
	margin: 25px;
	width: 150px;
	height: 100px;
}
.two h1 {
	padding-top: 10px;
}
.three {
	background-color: red;
	margin: 25px;
	width: 150px;
	height: 150px;
}
.three h1 {
	padding-top: 30px;
}
.four {
	background-color: blue;
	margin: 25px;
	width: 250px;
	height: 100px;
}
.four h1 {
	padding-top: 20px;
}

.five {
	background-color: pink;
	margin: 25px;
	width: 250px;
	height: auto;
}
.five h1 {
	padding-top: 130px;
}
